/* 

font-family: 'Maven Pro', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Sriracha', cursive;

*/

html {
  scroll-behavior: smooth;
  background-color: #7DB96F;
}
 
body {
  max-width: 375px;
  margin: auto;
}