/* 

font-family: 'Maven Pro', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Sriracha', cursive;

*/

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}

h2 {
  font-size: 26pt;
}

/* header */

header {
  background-image: url(/img/fruits.webp);
  color: #7DB96F;
  padding: 20px 37px 30px;
}

header div {
  background-color: rgba(255, 255, 255, 0.781);
  font-family: 'Quattrocento', serif;
}

header img {
  max-width: 205px;
  max-height: 45px;
}

header h1 {
  margin: 36px 40px 12px 20px;
}

.bouton {
  border-radius: 15px;
  background-color: #7DB96F;
  color: white;
  padding: 10px 20px 12px;
}

.bouton-blanc {
  background-color: white;
  border: white;
  color: #7DB96F;
}

header a {
  text-decoration: none;
}
/* main */

main {
  padding: 0;
}

main img {
  max-height: 80px;
}

p {
  font-family: 'Quattrocento', serif;
}

.ligne-fruit-1 img,
.ligne-fruit-2 img {
  max-height: 20px;
}

.presentation {
  padding: 20px 37px 30px;
}

article {
  text-align: start;
}

article h1 {
  font-family: 'Sriracha', cursive;
  font-weight: 100;
}

.section-produit {
  background-color: #7DB96F;
}

.section-produit h2 {
  color: white;
}

article h1 {
  font-size: 30pt;
}

.produit p {
  color:#00000081;
}

.produit {
  border-radius: 10px;
  box-shadow: 0 0 10px #0000005d;
  padding: 20px 37px 30px;
}

.produit-banane {
  background-color: #FCF7D6;
}

.produit-kiwi {
  background-color: #D0F1AE;
}

.produit-cafe {
  background-color: #CDC4B0;
}

.produit-fraise {
  background-color: #E2A2B1;
}

.savoir-plus {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  text-decoration: underline;
  font-weight: 700;
  font-size: 14pt;
}

.section-produit article {
  display: flex;
  flex-direction: column;
  margin: 22px 30px;$
}

/* footer */

a {
  text-decoration: none;
}

footer {
  color: #7DB96F;
  padding: 20px 37px 30px;
}

footer p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 12pt;
}